[submodule "wp-content/plugins/spine-app"]
	path = wp-content/plugins/spine-app
	url = https://github.com/anito/spine-app.git
[submodule "wp-content/plugins/woo-gutenberg-products-block"]
	path = wp-content/plugins/woo-gutenberg-products-block
	url = https://github.com/bartcc/woo-products.git
