@import './mixin'
// @import '../node_modules/bootstrap/dist/css/bootstrap.css'

/**
 * Animations
 */
@keyframes edit-post__loading-fade-animation {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

@keyframes edit-post__fade-in-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.hide
	visibility: hidden
.is-saving
    animation: edit-post__loading-fade-animation 0.5s infinite;
.backup-info .time-span
    font-weight: 400;
    padding: .3em .5em;
    font-style: normal;
    background: #e2e1e1;
    border-radius: 3px;